<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html lang="en" xmlns:th="http://www.thymeleaf.org">
      <head>
      <meta charset="UTF-8">
      <title>Spring MVC</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">

  <a class="navbar-brand" th:href="@{/}">Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
          aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('home')} ? 'nav-link active' : 'nav-link'">-->
      <li class="nav-item" th:class="${activePage == 'info'} ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" th:href="@{/info}">Info<span class="sr-only">(current)</span></a>
      </li>
      <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('contact')} ? 'nav-link active' : 'nav-link'">-->
      <li class="nav-item" th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" th:href="@{/contact}">Contact</a>
      </li>
    </ul>
  </div>
</nav>

</body>
</html></title>
</head>
<body>
</body>
</html>